@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #00030C;
    --text-main-color: #FFFFFF;
    --text-secondary-color: #C0C0C0;
    --text-third-color: #F9F9F9;
    --buttom-blue: #167BF7;
    --primary-font: Inter;
}
.content {
    background-color: var(--background-color);
    color: var(--text-main-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}
.main__content {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    }
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
   }
.main__content__box{
    text-align: center;
    margin: 0 6rem;
}
.main__content__title {
    font-size: 1.75rem;
    font-weight: 700;
}
.main__content__image {
    margin: 2rem 0 4rem 0;
}
.main__content__buttom {
    background-color: var(--buttom-blue);
    color: var(--text-main-color);
    border-radius: 5px;
    padding: 1em;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}
.second_buttom {
    background-color: transparent;
    border: 2px solid var(--text-main-color);
}
.main__content__notice {
    color: var(--text-secondary-color);
    font-size: 0.75rem;
}
.second__content {
    margin: 0 10rem;
}
.second__content__image {
    width: 80%;
}
.content__description {
    padding: 2rem;
}
.second__content__title {
    font-size: 3rem;
    margin: 0.1rem;
}
.second__content__text {
    color: var(--text-third-color);
}
.third__buttom {
    display: inline-block;
    margin-top: 1rem;
}
.devices {
    text-align: center;
}
.devices__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5rem 0;
}
.devices__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-main-color);
}
.list__items {
    color: var(--text-main-color);
    font-size: 2rem;
}
